$colorPrimary: #EAF6FF;
$colorSecondary: #1E7AFF;
$colorThird: #142F80;
$colorFourth: #1FCE62;
$colorfifth: #FFC22B;
$colorSixth: #FF5656;

$fontBody: 'Open Sans', sans-serif;
$fontTitle: 'Poppins', sans-serif;

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $fontBody;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $fontTitle;
}

img {
    max-width: 100%;
}

.color-fourth {
    color: $colorFourth !important;
}

.large {
    font-size: 42px;
    @media (max-width: 1500px) {
        font-size: 32px;
    }
}

.navbar {
    position: fixed;
    top: 100px;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 50%;
    border: 5px solid #EAF6FF;
    transform: translateX(-50%);
    .svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: rotate(-72deg);
    }
    svg {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all .4s ease-in-out;
        transform: rotate(0);
        circle {
            width: 100%;
            height: 100%;;
            stroke: $colorThird;
            stroke-dasharray: 1670;
            stroke-dashoffset: 1878;
            stroke-width: 8px
        }
    }
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding-left: 300px;
    padding-right: 78px;
}
.scroll-container {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}
#main-menu {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-right: 55px;
    z-index: 9;
    position: relative;
    .menu-item {
        font-size: 19px;
        color: rgba(61, 64, 91, 0.55);
        text-decoration: none;
        line-height: 2;
        display: block;
        font-weight: 600;
        &.active {
            color: $colorThird;
        }
    }
}
.section-heading {
    margin-bottom: 50px;
    .section-title {
        position: relative;
        padding-bottom: 10px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 5px;
            width: 61px;
            height: 8px;
            background: $colorThird;
        }
        span {
            font-size: 84px;
            line-height: 1.2;
            letter-spacing: 0.01em;
            color: $colorThird;
            font-weight: bold;
            @media (max-width: 992px) {
                font-size: 50px;
            }
        }
    }
}

#intro {
    @media (max-width: 767px) {
        flex-direction: column;
    }
    .content {
        max-width: 390px;
        margin-left: 78px;
        @media (max-width: 767px) {
            margin-left: 0;
        }
        p {
            font-weight: 400;
            font-size: 26px;
            line-height: 146%;
            letter-spacing: 0.05em;
            color: $colorThird;
            margin-bottom: 36px;
            font-family: $fontTitle;
        }
    }
    .install {
        font-size: 26px;
        line-height: 146%;
        letter-spacing: 0.05em;
        color: $colorThird;
        font-weight: 800;
        text-decoration: none;
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        img {
            margin-left: 20px;
        }
    }
    ul {
        li {
            font-size: 26px;
            line-height: 157.68%;
            text-align: right;
            letter-spacing: 0.015em;
            color: $colorThird;
            font-weight: 600;
        }
    }
    .right {
        text-align: right;
        img {
            margin-bottom: 36px;
            border-radius: 16px;
            box-shadow: 1.5387566089630127px 1.7255643606185913px 2.691200017929077px 0px #29292908,6.879147052764893px 7.714287757873535px 6.217599868774414px 0px #2929290D,17.10735321044922px 19.184215545654297px 14.198399543762207px 0px #29292911,33.30955505371094px 37.3533935546875px 30.25279998779297px 0px #29292916,56.57193374633789px 63.43986511230469px 58px 0px #2929291F;

        }
    }
}

#layout {
    align-items: flex-start;
    height: auto;
    .section-heading {
        position: sticky;
        top: 0;
    }
    .wrap {
        width: 100%;
    }
    .content {
        img {
            float: right;
            + img {
                margin-top: 50px;
            }
        }
    }
}

#size {
    p {
        color: $colorThird;
        font-weight: 300;
        font-size: 26px;
        line-height: 146%;
        letter-spacing: 0.05em;
        font-family: $fontTitle;
    }
    .content {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }
    .info {
        padding-left: 75px;
        max-width: 640px;
        @media (max-width: 767px) {
            padding-left: 0;
        }
        p {
            margin-bottom: 40px;
        }
    }
}

#responsive {
    .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .left {
        width: calc(100% - 385px);
        padding-right: 58px;
        @media (max-width: 767px) {
            width: 100%;
            padding-right: 0;
        }
    }
    .right {
        width: 385px;
        @media (max-width: 767px) {
            width: 100%;
        }
    }
    .content {
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    p {
        margin-bottom: 50px;
        font-family: $fontTitle;
        font-weight: 300;
        font-size: 26px;
        color: $colorThird;
        line-height: 146%;
    }
    .img {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        img + img {
            margin-top: 30px;
        }
    }
    .box-shadow {
        box-shadow: 13.6635px 47.0564px 163px rgba(0, 0, 0, 0.06), 8.04508px 27.7068px 85.0208px rgba(0, 0, 0, 0.043392), 4.13185px 14.2299px 39.9024px rgba(0, 0, 0, 0.033696), 1.66148px 5.72206px 17.4736px rgba(0, 0, 0, 0.026304), 0.371648px 1.27994px 7.5632px rgba(0, 0, 0, 0.016608);
    }
}


@media (max-width: 991px) {
    #intro ul li {
        font-size: 22px;
    }
    .large {
        font-size: 22px;
    }
    .navbar {
        display: none;
    }
    .section {
        padding: 15px;
        height: auto;
    }
    .section-heading .section-title {
        font-size: 54px;
    }
}